@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185deg, 41%, 84%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 60px;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

.main-container {
  width: 375px;
  height: 718px;
  margin: 39px auto 60px;
}

.main-container__title {
  text-transform: uppercase;
  text-align: center;
  color: hsl(186deg, 14%, 43%);
  font-size: 1.2em;
  letter-spacing: 7px;
  margin-bottom: 25px;
}

@media (min-width: 1300px) {
  .main-container {
    width: 970px;
    height: 475px;
    margin: 89px auto 130px;
  }

  .main-container__title {
    margin-bottom: 50px;
  }
}

article {
  background-color: hsl(189deg, 41%, 97%);
  width: 100%;
  height: 648px;
  border-radius: 16px;
  padding: 23px;
}

@media (min-width: 1300px) {
  article {
    display: flex;
    height: 420px;
  }
}

.section-1 {
  padding-bottom: 27px;
  flex: 1;
}

@media (min-width: 1300px) {
  .section-1 {
    padding: 40px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.bill {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.bill__label {
  color: hsl(186deg, 14%, 43%);
  font-size: 0.8em;
}

.bill__input {
  height: 39px;
  text-align: right;
  padding-right: 15px;
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  border: none;
  outline: none;
  border-radius: 3px;
  caret-color: transparent;
  margin-bottom: 10px;
  background-image: url(./images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 5px center;
}

.bill__input:hover {
  cursor: pointer;
}

.bill__input:focus {
  outline: none;
  border: 1px solid hsl(172deg, 67%, 45%);
  border-radius: 5px;
}

@media (min-width: 1300px) {
  .bill__input {
    width: 100%;
    margin-bottom: 30px;
  }
}

.label-tip {
  color: hsl(186deg, 14%, 43%);
  font-size: 0.8em;
  margin-bottom: 15px;
}

.container-tip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 25px;
}

@media (min-width: 1300px) {
  .container-tip {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

.container-tip__button {
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(0deg, 0%, 100%);
  font-size: 1em;
  font-weight: 700;
  width: 158px;
  height: 37px;
  border: none;
  border-radius: 5px;
}

.container-tip__button--selected {
  background-color: hsl(172deg, 67%, 45%);
  color: rgba(0, 0, 0, 0.611);
  font-weight: 700;
}

.container-tip__button:hover {
  cursor: pointer;
}

.container-tip input {
  background-color: hsl(189deg, 41%, 97%);
  color: hsl(186deg, 14%, 43%);
  font-size: 1em;
  font-weight: 700;
  text-align: center;
  border: none;
  width: 100%;
}

.container-tip input:hover {
  cursor: pointer;
}

.container-tip input:focus {
  outline: none;
  border: 1px solid hsl(172deg, 67%, 45%);
  border-radius: 5px;
}

.number-people {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.number-people__label {
  font-size: 0.8em;
  color: hsl(186deg, 14%, 43%);
}

.number-people__input {
  height: 39px;
  text-align: right;
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
  font-weight: 700;
  padding-right: 7px;
  outline: none;
  caret-color: transparent;
  border: none;
  border-radius: 6px;
  background-image: url(./images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 7px center;
  background-size: 4%;
}

.number-people .error1 {
  visibility: visible;
  color: #e51525;
  padding-left: 90px;
}

@media (min-width: 1300px) {
  .number-people .error1 {
    padding-left: 255px;
  }
}

.number-people .error1-bis {
  visibility: hidden;
}

.number-people .error2 {
  display: block;
  border: 1px solid #e51525;
}

.section-2 {
  flex: 1;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 13px;
  padding: 25px 14px;
}

@media (min-width: 1300px) {
  .section-2 {
    margin: 24px 24px 24px 0;
    padding: 35px 25px;
    height: 350px;
  }
}

.section-2__button {
  margin-top: 35px;
  width: 100%;
  height: 42px;
  text-align: center;
  text-transform: uppercase;
  background-color: hsl(172deg, 67%, 45%);
  border-radius: 6px;
  border: none;
  color: rgba(0, 0, 0, 0.611);
  font-size: 0.9em;
  font-weight: 700;
  outline: none;
}

.section-2__button:hover {
  cursor: pointer;
  filter: brightness(130%);
}

@media (min-width: 1300px) {
  .section-2__button {
    margin-top: 101px;
  }
}

.up {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.up__tip-amount-label label, .down__total-label label {
  font-size: 1em;
  color: hsl(0deg, 0%, 100%);
  font-weight: 700;
}

.up__tip-amount-label p, .down__total-label p {
  width: 79px;
  font-size: 1em;
  color: hsl(186deg, 14%, 43%);
  font-weight: 700;
}

.up__tip-amount-value, .down__total-value {
  border: none;
  font-size: 1.4em;
  font-weight: 700;
  height: 39px;
  width: 170px;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(172deg, 67%, 45%);
  text-align: right;
  outline: none;
  caret-color: transparent;
}

.down {
  display: flex;
  gap: 48px;
}

/*# sourceMappingURL=styles.css.map */